uvicorn~=0.40.0
fastapi~=0.128.0
aiofiles~=25.1.0
annotated-types~=0.7.0
anyio~=4.12.1
async-timeout~=5.0.1
bcrypt~=5.0.0
pyjwt~=2.10.1
charset-normalizer~=3.4.4
deprecated~=1.3.1
dnspython~=2.8.0
email_validator~=2.3.0
faker~=40.1.2
geographiclib~=2.1
geopy~=2.4.1
mypy~=1.19.1
mypy-extensions~=1.1.0
passlib~=1.7.4
phonenumbers~=9.0.22
pydantic_core~=2.41.5
pydantic-extra-types~=2.11.0
pydantic-settings~=2.12.0
pytest~=9.0.2
pytest-asyncio~=1.3.0
python-dotenv~=1.2.1
python-multipart~=0.0.21
pytz~=2025.2
pyyaml~=6.0.3
requests~=2.32.5
six~=1.17.0
sniffio~=1.3.1
sse-starlette~=3.2.0
typing-extensions~=4.15.0
watchfiles~=1.1.1
websockets~=16.0
wrapt~=2.0.1
geopy~=2.4.1
httpx~=0.28.1
fastapi-sse~=1.1.1
shapely~=2.1.2
beanie~=2.0.1

redis-om~=1.0.4b0

numpy~=2.4.1
googlemaps~=4.10.0
async-googlemaps~=0.0.10
polyline~=2.0.4
